// SCSS Variables
$bg-color:cyan;
$colour:coral;
$fontw:bold;
$fonts:x-large;

body{
    background-color: $bg-color;
    color:$colour;
    font-weight: $fontw;
    font-size: $fonts;
}
// SCSS Nesting
div
{
    p{
        color:coral;
        font-style: italic;
        text-align: center;
    }
    table, th, td{
        border: 2px solid black;
        text-align: center;
    }
}
// SCSS Inheritance
h1{
    color: red;
    font-weight: bold;
    text-align: center;
}
h2{
    @extend h1;
    color: green;
}